@use 'sass:map';

$palette: (
  white: #ffffff,
  background: #1A243D,
  background-nav: rgba(21, 28, 44, .5),
  text-nav: #C1C1C1,
  text-secondary: #474A62,
  accent: #D76161,
);

$radius: 5px;

@function color($colorName) {
  @return map-get($map: $palette, $key: $colorName);
}

%flexBoxCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button-primary {
  border: none;
  border-radius: $radius;
  background-color: color('accent');
  color: white;
}

%button-primary:hover {
  cursor: pointer;
  background-color: lighten($color: color('accent'), $amount: 5);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: color("background");
}