@use "sass:map";

$palette: (
  white: #ffffff,
  background: #1a243d,
  background-nav: rgba(21, 28, 44, 0.5),
  text-nav: #c1c1c1,
  text-secondary: #474a62,
  text-invert: #ffffff,
  accent: #d76161,
);

$radius: 5px;

@function color($colorName) {
  @return map-get($map: $palette, $key: $colorName);
}

%flexBoxCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button {
  padding: 0.8em;
  text-decoration: none;
  box-sizing: border-box;
}

%button-primary {
  @extend %button;
  border: solid 2px color("accent");
  border-radius: $radius;
  background-color: color("accent");
  color: color("text-invert");
}

%button-primary:hover {
  cursor: pointer;
  background-color: lighten($color: color("accent"), $amount: 5);
}

%button-secondary {
  @extend %button;
  border: solid 2px color("accent");
  background-color: transparent;
  border-radius: $radius;
  color: color("accent");
}

%button-secondary:hover {
  cursor: pointer;
  background-color: color("accent");
  color: color("text-invert");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: color("background");
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1500px) 1fr;
  grid-template-rows: 53px 1fr;
  grid-template-areas:
    "blank-header1 header blank-header2"
    "blank-main1 main blank-main-2";
}

main {
  grid-area: main;
  padding: 0 20px;
}

header {
  grid-area: header;
}

.fake1 {
  grid-area: blank-header1;
  background-color: color("background-nav");
}

.fake2 {
  content: "";
  grid-area: blank-header2;
  display: fixed;
  background-color: color("background-nav");
}

body::after {
  content: "";
  background: url("../img/background-pattern.svg");
  background-size: 500px;
  opacity: 15%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}
